extends ../../../layouts/admin

block content

	a.button(href="/admin/articulo/new") Nuevo articulo
	br

	h2 Lista de artículos
	table.lista
		tr
			th Título
			th Descripción
			th Categorías
			th Precio
			th Fotos
			th Vídeos
			th &nbsp;
		- if (articulos)
			- each articulo in articulos
				tr
					td
						a(href="/admin/articulo/edit/" + articulo._id.toString()) #{articulo.titulo}
					td #{articulo.descripcion}
					//- td #{articulo.categorias}
					td #{articulo.precio}
					td #{articulo.fotos}
					td #{articulo.videos}
					td
						a(href="/admin/articulo/delete/" + articulo._id.toString() onClick="return confirm('¿Estas seguro de que quieres eliminar el articulo #{articulo.titulo}?')") Borrar
